go 1.25.0

use (
	./go-agregator
	./go-agregator/v2
	./go-agregator/v3
	./go-replayer
	./go-replayer/v2
	./go-replayer/v3
	./proto/gen/go/itc/proto
	./proto/gen/go/itc/proto/v2 // stream
	./proto/gen/go/itc/proto/v3 // batch
)
